body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 940px;
margin: 0 auto;
}

#top {
    width: 100%;
    margin-top: 1em;
    height: 165px;
}

#top-left {
    background: url(images/logo.png) no-repeat;
    background-color: transparent;
    height: 100%;
    width: 370px;
    float: left;
}

#top-right {
    height: 100%;
    width: 59px;
    background: url(images/left.png) no-repeat;
    margin-left: 881px;
}

#empty-left {
    background-color: #2f4090;
    float: left;
    width: 190px;
    height: 100%;
}

#empty-right {
    background-color: #2f4090;
    float: left;
    width: 101px;
    height: 100%;
}

#menu {
    background-color: white;
    width: 220px;
    /*width: 180px;*/
    height: 100%;
    float:left;
}

#menu ul {
    margin-right: 1em;
    margin-top: 0;
}

#menu ul li {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    list-style: none;
    margin-top: 3px;
    padding-bottom: 2px;
}

#menu li img {
    margin-right: 1em;
    margin-bottom: 0;
}

#search {
    margin: 1em auto;
    width: 99%;
    text-align: right;
}

#content {
    margin: 1em auto;
    width: 100%;
}

#footer {
    margin: 2em auto;
    background-color: inherit;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
    width: 70%;
    text-align: center;
}

img {
    border: none;
}

a, a:visited{
    text-decoration: none;
    color: blue;
}

.clear {
    clear: both;
}
