body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 940px;
    margin: 0 auto;
}

#top {
    width: 100%;
    margin-top: 0.5em;
    height: 165px;
}

#top-left {
    background: url(images/logo.png) no-repeat;
    background-color: transparent;
    height: 100%;
    width: 370px;
    float: left;
}

#top-right {
    height: 100%;
    width: 59px;
    background: url(images/left.png) no-repeat;
    margin-left: 881px;
}

#empty-left {
    background-color: #2f4090;
    float: left;
    width: 190px;
    height: 100%;
}

#empty-right {
    background-color: #2f4090;
    float: left;
    width: 101px;
    height: 100%;
}

#menu {
    background-color: white;
    width: 220px;
    height: 100%;
    float:left;
}

#menu ul {
    margin-right: 1em;
    margin-top: 0;
}

#menu ul li {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    list-style: none;
    margin-top: 3px;
    padding-bottom: 2px;
}

#menu li img {
    margin-right: 1em;
    margin-bottom: 0;
}

#search {
    margin: 1em auto;
    width: 99%;
    text-align: right;
}

#content {
    margin: 1em auto;
    width: 100%;
}

#footer {
    margin: 2em auto;
    background-color: inherit;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
    width: 75%;
    text-align: center;
}

img {
    border: none;
}

a, a:visited{
    text-decoration: none;
    color: blue;
}

.clear {
    clear: both;
}

#home-title {
    background: transparent url(images/home.png) no-repeat;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 1px;
    height: 128px;
    padding-left: 128px;
    line-height: 128px;
}

#features-title {
    background: transparent url(images/text.png) no-repeat;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 1px;
    height: 128px;
    padding-left: 128px;
    line-height: 128px;
}

#download-title {
    background: transparent url(images/download.png) no-repeat;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 1px;
    height: 128px;
    padding-left: 128px;
    line-height: 128px;
}

#screenshots-title {
    background: transparent url(images/screenshots.png) no-repeat;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 1px;
    height: 128px;
    padding-left: 128px;
    line-height: 128px;
}

#bugs-title {
    background: transparent url(images/dialog-warning.png) no-repeat;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 1px;
    height: 128px;
    padding-left: 128px;
    line-height: 128px;
}

#contact-title {
    background: transparent url(images/contact.png) no-repeat;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 1px;
    height: 128px;
    padding-left: 128px;
    line-height: 128px;
}

#credits-title {
    background: transparent url(images/emblem-note.png) no-repeat;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 1px;
    height: 128px;
    padding-left: 128px;
    line-height: 128px;
}

#hidden-berlioslogo {
    width:0;
    height:0;
    display:none;
}

#bslogo {
    text-align: right;
    height: 32px;
    width: 100%;
}

.required {
    color: red;
}